
body{
  background-color: rgba(80, 8, 80, 0.336);
  color: rgb(14, 14, 11);
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#Main content{
  margin: 0 auto;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}
#list{
  margin: 10px 90px 49px 60px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 34px 20px 20px 50px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  width: 75%;
  text-align: center;
  box-sizing: content-box ;
}

#list h2{
  font-size: 30px;
  text-align: left;
}